body {
    background-color: burlywood;
}

.container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 204px;
    width: 490px;
}

.white-keys {
    background-color: white;
    border: slategrey 2px outset;
    color: black;
    display: inline-block;
    font-family: 'Varela Round', sans-serif;
    height: 200px;
    line-height: 300px;
    margin-left: -4px;
    text-align: center;
    width: 66px;
    z-index: 0;
}

.black-keys {
    background-color: black;
    border: slategrey 2px outset;
    color: white;
    display: inline-block;
    font-family: 'Varela Round', sans-serif;
    height: 120px; /*60% of white key height*/
    line-height: 180px; /*150% of black key height*/
    position: relative;
    left: 44px; /*sets position for 'W' key*/
    text-align: center;
    width: 40px; /*~60% of white key width*/
    z-index: 1;
}

.two-black-keys {
    margin-left: 22px; /*provides spacing between the keys, but also effects 'W' key left position */
    position: relative;
    left: 22px; /*sets position for 'W' key, key position is this left value + margin left value*/
}

.three-black-keys {
    margin-left: 22px; /*provides spacing between the keys, but also effects 'W' key left position */
    position: relative;
    left: 92px; /*sets position value for the 'T' key, relative to the starting position near the 'E' key*/
}